.App {
  text-align: center;
}

.App-header {
  background-color: #013240;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.red {
  background-color: #bd0000;
}

.buttonContainer {
  display: flex;
}

.time {
  font-size: 10rem;
}

button {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  width: 6rem;
  height: 4rem;
}

button:hover {
  background: #00b3e6;
}

.arrowButton {
  margin: 0 5rem;
}

.startButton, .resetButton {
  margin: 1rem 0;
}

.buttonSpacer {
  height: 4rem;
}

.controlButtons {
  display: flex;
  margin-top: 2rem;
}

.controlButtons > button {
  margin: 0 1rem;
  line-height: 1.3;
}